*{
	margin:0;
	padding:0;
}
body{
	background-color:#efefef;
	font-family:sans-serif;
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(pool.jpg);
}
.content-box{
	width:500px;
	background-color:#fff;
	box-shadow:0 0 20px 0 #999;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	position:absolute;
	border-radius:60px;
	box-shadow:0 0 20px #fff;
}
form{
	margin:35px;
}
.input-field{
	width:400px;
	height:40px;
	margin-top:20px;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #777;
	border-radius:14px;
	outline:none;
}
.textarea-field{
	height:150px;
	padding-top:10px;
}
.btn{
	border-radius:20px;
	color:#fff;
	margin-top:18px;
	padding:10px;
	background-color:#47c35a;
	font-size:15px;
	border:none;
	cursor:pointer;
	text-align:center;
}
.acontant{
	color:black;
	margin:0 600px;
	background:white;
	border:2px solid black;
	border-radius:50px;
	text-decoration:none;
}