.bodycard{
	background:yellow;
	border:4px solid black;
	border-radius:70px;
	height:300px;
}
.c1ard{
	text-align:center;
	color:blue;
	font-size:25px;
	font-weight:bold;
}
.c2ard{
	text-align:right;
	color:black;
	font-size:20px;
	font-weight:bold;
}
.c3ard{
	text-align:right;
	color:black;
	font-size:20px;
	font-weight:bold;
}
.c4ard{
	text-align:right;
	color:black;
	font-size:20px;
	font-weight:bold;
}
.b1card{
	position:absolute;
	margin:-120px 1160px;
	color:red;
	background:white;
	width:125px;
	border:2px solid black;
	border-radius:60px;
}
.b2card{
	position:absolute;
	margin:-83px 1100px;
	color:red;
	background:white;
	width:160px;
	border:2px solid black;
	border-radius:60px;
}
.b3card{
	position:absolute;
	margin:-38px 1020px;
	color:red;
	background:white;
	width:150px;
	border:2px solid black;
	border-radius:60px;
}